
@{
    <h1> Online Order </h1>

}

<div id="main">

    <!-- PRIMARY -->
    <div id="primary">

        <!-- CONTENT -->
        <div id="content" role="main">
            <div class="content_wrapper">
                <header class="entry-header">
                    <h1 class="entry-title">Menu</h1>
                </header>

                <div id="accordion" class="">
                    <h3><a id="block-Lunch Boxes To Go" href="#block-Lunch Boxes To Go">Lunch Boxes To Go</a></h3><ul>
                        <li>
                            <h4 class="title">Seafood</h4><div class="description">
                                <p>Served with vegetable of the day, Basmati Rice Pulao, Naan and Cucumber Raita</p>
                            </div><div class="price">$ 10.95</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb/Goat</h4><div class="description">
                                <p>Lamb Curry, served with vegetable of the day, Basmati Rice Pulao, Naan and Cucumber Raita</p>
                            </div><div class="price">$ 9.95</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken</h4><div class="description">
                                <p>Chicken Curry, served with vegetable of the day, Basmati Rice Pulao, Naan and Cucumber Raita</p>
                            </div><div class="price">$ 9.95</div>
                        </li>
                        <li>
                            <h4 class="title">Tandoori</h4><div class="description">
                                <p>Tandoor Chicken Entrée, served with vegetable of the day, Basmati Rice Pulao, Naan and Cucumber Raita</p>
                            </div><div class="price">$ 8.95</div>
                        </li>
                        <li>
                            <h4 class="title">Vegetable</h4><div class="description">
                                <p>Two rotating daily vegetable curries; Items served with Basmati Rice Pulao, Naan and Cucumber Raita</p>
                            </div><div class="price">$ 8.95</div>
                        </li>
                    </ul><h3><a id="block-Nirvana Signature Creations" href="#block-Nirvana Signature Creations">Kashi Home Food Signature Creations</a></h3><ul>
                        <li>
                            <h4 class="title">Venison Chops</h4><div class="description">
                                <p>Indian dark rum reduction, roasted cumin potatoes and lemon rice</p>
                            </div><div class="price">$ 35.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lobster Tikka Masala</h4><div class="description">
                                <p>Brazilian lobster tail in a creamy butter sauce, served with lemon rice</p>
                            </div><div class="price">$ 30.00</div>
                        </li>
                        <li>
                            <h4 class="title">Nirvana Rabbit Fiesta</h4><div class="description">
                                <p>Rabbit stew, chili milli subzi, and peas pulao</p>
                            </div><div class="price">$ 30.00</div>
                        </li>
                        <li>
                            <h4 class="title">Pati Patni Aur Who</h4><div class="description">
                                <p>Stuffed bell pepper, potato, tomato and jeera rice</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                    </ul><h3><a id="block-Salads" href="#block-Salads">Salads</a></h3><ul>
                        <li>
                            <h4 class="title">House Mixed Greens</h4><div class="description">
                                <p>Served with vinaigrette dressing</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Tossed Mesclun with Chicken Tikka</h4><div class="description">
                                <p>Served with vinaigrette dressing</p>
                            </div><div class="price">$ 8.00</div>
                        </li>
                        <li>
                            <h4 class="title">Bean Sprouts and Mixed Green Salad</h4><div class="description">
                                <p>Served with House Dressing</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                    </ul><h3><a id="block-Sides" href="#block-Sides">Sides</a></h3><ul>
                        <li>
                            <h4 class="title">Jeera Aloo</h4><div class="description">
                                <p>Roasted cumin and spiced tempered potatoes</p>
                            </div><div class="price">$ 11.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chana Masala</h4><div class="description">
                                <p>Chickpeas cooked in onions in a tomato based gravy</p>
                            </div><div class="price">$ 11.00</div>
                        </li>
                        <li>
                            <h4 class="title">Dal Tadka</h4><div class="description">
                                <p>Yellow Lentils, Ghee tempered with Cumin &amp; Burnt Red Chili</p>
                            </div><div class="price">$ 11.00</div>
                        </li>
                        <li>
                            <h4 class="title">Dal Makhni</h4><div class="description">
                                <p>Black Lentils simmered overnight, Touch of Butter and Cream</p>
                            </div><div class="price">$ 11.00</div>
                        </li>
                    </ul><h3><a id="block-Soups" href="#block-Soups">Soups</a></h3><ul>
                        <li>
                            <h4 class="title">CRAB CORN SOUP</h4><div class="description">
                                <p>Rich corn chowder with fresh crab</p>
                            </div><div class="price">$ 7.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Palak Soup</h4><div class="description">
                                <p>Hearty chicken broth with spinach</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Mulligatawny Soup</h4><div class="description">
                                <p>Cream of lentils with vegetables puree.</p>
                            </div><div class="price">$ 5.00</div>
                        </li>
                        <li>
                            <h4 class="title">Sweet Corn Chicken Soup</h4><div class="description">
                                <p>Hearty Chicken and Corn Broth</p>
                            </div><div class="price">$ 5.00</div>
                        </li>
                    </ul><h3><a id="block-Accompaniments" href="#block-Accompaniments">Accompaniments</a></h3><ul>
                        <li>
                            <h4 class="title">Cucumber Raita</h4><div class="description">
                                <p>Shredded Cucumber in Yogurt, Spiked with Cumin and Cilantro</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                        <li>
                            <h4 class="title">Bhindi Raita</h4><div class="description">
                                <p>Crispy Okra and Whipped Yogurt Dip</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                        <li>
                            <h4 class="title">Mango Chutney</h4><div class="description">
                                <p>Sweet and Sour Mango Relish</p>
                            </div><div class="price">$ 3.00</div>
                        </li>
                        <li><h4 class="title">Spicy Mixed Vegetable Pickle</h4><div class="description"></div><div class="price">$ 3.00</div></li>
                        <li>
                            <h4 class="title">Papad</h4><div class="description">
                                <p>Crisp Roasted Lentil Wafer</p>
                            </div><div class="price">$ 2.00</div>
                        </li>
                    </ul><h3><a id="block-Starters" href="#block-Starters">Starters</a></h3><ul>
                        <li>
                            <h4 class="title">Tandoori Paneer Tikka</h4><div class="description">
                                <p>Paneer chunks marinated in Tandoori masala</p>
                            </div><div class="price">$ 9.00</div>
                        </li>
                        <li>
                            <h4 class="title">Raj Kachori</h4><div class="description">
                                <p>Savory lentils and potato filled in a pastry pocket topped with yogurt and tamarind chutney</p>
                            </div><div class="price">$ 8.00</div>
                        </li>
                        <li>
                            <h4 class="title">Vegetable Samosa</h4><div class="description">
                                <p>Seasoned peas and potatoes stuffed crisp turn-overs</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Gobi Manchurian</h4><div class="description">
                                <p>Roasted Garlic, Scallion, Soy Sauce coated, crisp Cauliflower Florets</p>
                            </div><div class="price">$ 7.00</div>
                        </li>
                        <li>
                            <h4 class="title">Achari Mushroom</h4><div class="description">
                                <p>Pickle seasoned grilled mushrooms</p>
                            </div><div class="price">$ 9.00</div>
                        </li>
                        <li>
                            <h4 class="title">Paneer Tikka</h4><div class="description">
                                <p>Indian Cheese Cubes marinated in Honey Mustard, fried up in Tandoor</p>
                            </div><div class="price">$ 8.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken 65</h4><div class="description">
                                <p>Tangy Fiery South Indian Stir Fry</p>
                            </div><div class="price">$ 9.00</div>
                        </li>
                        <li>
                            <h4 class="title">Rosemary Malai Chicken</h4><div class="description">
                                <p>Charcoal grilled chicken chunks in rosemary cream marinade</p>
                            </div><div class="price">$ 10.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Potato Croquettes</h4><div class="description">
                                <p>Seasoned ground lamb stuffed in a potato cake</p>
                            </div><div class="price">$ 10.00</div>
                        </li>
                        <li>
                            <h4 class="title">Tawa Scallops</h4><div class="description">
                                <p>Pan seared sea scallops in coconut, chili garlic sauce</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                        <li>
                            <h4 class="title">Calamari Bhajiya</h4><div class="description">
                                <p>Spiced batter fried calamari crisp fritters</p>
                            </div><div class="price">$ 9.00</div>
                        </li>
                        <li>
                            <h4 class="title">Fish Koliwada</h4><div class="description">
                                <p>Carom seeds spiked fried tilapia fillets</p>
                            </div><div class="price">$ 9.00</div>
                        </li>
                        <li>
                            <h4 class="title">Shrimp Tadka</h4><div class="description">
                                <p>Pan sautéed tiger shrimp in white wine and garlic</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                    </ul><h3><a id="block-Tandoor" href="#block-Tandoor">Tandoor</a></h3><ul>
                        <li>
                            <h4 class="title">Tandoori Chicken</h4><div class="description">
                                <p>Traditional style red masala marinade</p>
                            </div><div class="price">$ 18.00</div>
                        </li>
                        <li>
                            <h4 class="title">Achari Tangdi</h4><div class="description">
                                <p>Chicken drumsticks in a fiery tangy pickle Marinade</p>
                            </div><div class="price">$ 18.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Seekh Kabab</h4><div class="description">
                                <p>Seasoned ground meat kebabs</p>
                            </div><div class="price">$ 20.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Tikka</h4><div class="description">
                                <p>Mildly spiced chicken breast in yogurt marinade</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Tandoor Chicken</h4><div class="description">
                                <p>Traditional Style Classic Red Masala Marinade</p>
                            </div><div class="price">$ 18.00</div>
                        </li>
                        <li>
                            <h4 class="title">Adraki Reshmi Kebab</h4><div class="description">
                                <p>Chicken breast chunks with ginger, fresh aromatic herbs marinade</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Hariyali</h4><div class="description">
                                <p>Chicken chunks in cilantro and mint marinade</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Chops</h4><div class="description">
                                <p>Chef&#8217;s Special Marinade</p>
                            </div><div class="price">$ 30.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Seekh Kabab</h4><div class="description">
                                <p>Seasoned ground meat kebabs</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">Mahi Tikka</h4><div class="description">
                                <p>Mahi Mahi fillet in aromatic marinade</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">Crab Seekh Kebab</h4><div class="description">
                                <p>Flasked Alaskan Crab Meat, Indian Marinade fried in Tandoor</p>
                            </div><div class="price">$ 18.00</div>
                        </li>
                        <li>
                            <h4 class="title">Hara Shrimp</h4><div class="description">
                                <p>Jumbo shrimp with cilantro, mint and mild aromatic spices marinade</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">Tandoori Vegetables</h4><div class="description">
                                <p>Seasonal vegetables in a distinctive marinade</p>
                            </div><div class="price">$ 16.00</div>
                        </li>
                    </ul><h3><a id="block-Seafood" href="#block-Seafood">Seafood</a></h3><ul>
                        <li>
                            <h4 class="title">SHRIMP KORMA</h4><div class="description">
                                <p>Creamy cashew and almond sauce, blended with aromatic spices</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">Fish Curry</h4><div class="description">
                                <p>Fresh catch fillet in spiced onion, tomato and coconut sauce with ginger garlic</p>
                            </div><div class="price">$ 23.00</div>
                        </li>
                        <li>
                            <h4 class="title">Fish Moilee</h4><div class="description">
                                <p>Fresh catch fillet, stewed in coconut milk with sliced ginger, mustard and curry leaves</p>
                            </div><div class="price">$ 23.00</div>
                        </li>
                        <li>
                            <h4 class="title">Shrimp Bhuna</h4><div class="description">
                                <p>Tiger shrimp stir fry in a mixture of whole spices and herbs</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">O&#8217;Calcutta Shrimp</h4><div class="description">
                                <p>Our Chef&#8217;s Creation</p>
                            </div><div class="price">$ 17.00</div>
                        </li>
                        <li>
                            <h4 class="title">Shrimp Vindaloo</h4><div class="description">
                                <p>Kashmiri chili pepper, garam masala, vinegar based spicy sauce</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                        <li>
                            <h4 class="title">Shrimp Saag</h4><div class="description">
                                <p>Tiger Shrimp simmered in a Spiced Spinach Puree</p>
                            </div><div class="price">$ 17.00</div>
                        </li>
                        <li>
                            <h4 class="title">Crab Masala</h4><div class="description">
                                <p>Lump crab meat in delicately spiced gravy</p>
                            </div><div class="price">$ 24.00</div>
                        </li>
                    </ul><h3><a id="block-Chicken" href="#block-Chicken">Chicken</a></h3><ul>
                        <li>
                            <h4 class="title">Chicken Caldeen</h4><div class="description">
                                <p>Our version of green chicken curry</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Xacuti</h4><div class="description">
                                <p>Goan chicken curry made with roasted aromatic spices and coconut</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Desi Chicken</h4><div class="description">
                                <p>Country style (on the bone) curry chicken, cooked slowly to perfection</p>
                            </div><div class="price">$ 18.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Tikka Masala</h4><div class="description">
                                <p>Barbecued chicken breast simmered in a creamy tomato sauce</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Methi Chicken</h4><div class="description">
                                <p>Chicken with fenugreek leaves and spices blended</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Moghlai</h4><div class="description">
                                <p>Caramelized onions in an almond and cashew paste</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Dahiwala</h4><div class="description">
                                <p>Spiced cumin flavored yogurt gravy</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Vindaloo</h4><div class="description">
                                <p>Spicy Blend of Kashmir Chili Pepper, Garam Masala and Vinegar</p>
                            </div><div class="price">$ 14.00</div>
                        </li>
                        <li>
                            <h4 class="title">Madras Chicken</h4><div class="description">
                                <p>Spicy Malabar Pepper Sauce</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Korma</h4><div class="description">
                                <p>Creamy Cashew Paste Sauce blended with Mild Aromatic Spices</p>
                            </div><div class="price">$ 14.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Saag</h4><div class="description">
                                <p>Chicken Cubes simmered in Fresh Spinach and Spices</p>
                            </div><div class="price">$ 14.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Dhansak</h4><div class="description">
                                <p>Chicken Cubes stewed in a Puree of Lentils, Vegetables and Select Herbs</p>
                            </div><div class="price">$ 19.00</div>
                        </li>
                    </ul><h3><a id="block-Lamb &amp; Goat" href="#block-Lamb &amp; Goat">Lamb &amp; Goat</a></h3><ul>
                        <li>
                            <h4 class="title">Nalli Gosht</h4><div class="description">
                                <p>Braised lamb shanks in caramelized onion tomato gravy</p>
                            </div><div class="price">$ 23.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Vindaloo</h4><div class="description">
                                <p>Kashmiri chili pepper, garam masala, vinegar based spicy sauce</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Pepper Dry</h4><div class="description">
                                <p>Stir fry sliced lamb with onions, tomatoes, in Bell peppers and cracked spices</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Korma</h4><div class="description">
                                <p>Creamy cashew and almond sauce, blended with aromatic spices</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb Lasooni Saag</h4><div class="description">
                                <p>Lamb in roasted garlic flavored spinach puree</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Goat Curry</h4><div class="description">
                                <p>Country style (on the bone) goat curry</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb or Goat Bhuna Kadai</h4><div class="description">
                                <p>Semi-dry stir fry with Browned Onions, Tomatoes, Bell Peppers</p>
                            </div><div class="price">$ 16.00</div>
                        </li>
                        <li>
                            <h4 class="title">Kheema Mutter</h4><div class="description">
                                <p>Ground Lamb and Peas cooked in a Paste of Spices and Herbs</p>
                            </div><div class="price">$ 16.00</div>
                        </li>
                        <li>
                            <h4 class="title">Sukha Nariyal Goat</h4><div class="description">
                                <p>South Indian delicacy (on the bone) baby goat meat coconut and curry leaves</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                    </ul><h3><a id="block-Vegetables" href="#block-Vegetables">Vegetables</a></h3><ul>
                        <li>
                            <h4 class="title">Beet Root Poriyal</h4><div class="description">
                                <p>Sautéed with coconut, curry leaves, mustard seeds and onions</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Navratan Korma</h4><div class="description">
                                <p>Mixed vegetables in cream cashew nut sauce</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Methi Malai Mushroom Mutter</h4><div class="description">
                                <p>Button mushroom, fenugreek leaves in an aromatic cream sauce</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Vegetable  Jalfrezy</h4><div class="description">
                                <p>Mildly spiced up and sizzling array of vegetables</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Aloo Gobi Mutter</h4><div class="description">
                                <p>Cauliflower florets with green peas and potato flavored in fresh ginger cracked spice mixture</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Malai Kofta</h4><div class="description">
                                <p>Puree mixed vegetable dumplings in mild creamy sauce</p>
                            </div><div class="price">$ 15</div>
                        </li>
                        <li>
                            <h4 class="title">Saag Paneer</h4><div class="description">
                                <p>Indian cheese cubes simmered in a puree of fresh spinach</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Paneer Mahanwala</h4><div class="description">
                                <p>Grilled Indian cheese cubes in a creamy butter gravy</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Kamal Kakri Ke Kofte</h4><div class="description">
                                <p>Lotus Root Stuffed Dumplings in Mild Creamy Sauce</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                        <li>
                            <h4 class="title">Bhindi Bharwan Masala</h4><div class="description">
                                <p>Okra stuffed with our special masala, sautéed with diced onions, tomatoes and herbs</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chilli Milli Subzi</h4><div class="description">
                                <p>Spiced Seasoned Mix Vegetables</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                        <li>
                            <h4 class="title">Dahi Baigan</h4><div class="description">
                                <p>Baby Eggplant in Mild Spiced Sweet and Sour Yogurt Gravy</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Baingan Bhartha</h4><div class="description">
                                <p>Mashed Roasted Eggplant with Onions, Tomatoes, Ginger &amp; Spices</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                        <li>
                            <h4 class="title">Aloo Gobhi</h4><div class="description">
                                <p>Cauliflower &amp; Potatoes in a blend of Dry Spices &amp; Coriander Leaves</p>
                            </div><div class="price">$ 12.00</div>
                        </li>
                    </ul><h3><a id="block-Rice" href="#block-Rice">Rice</a></h3><ul>
                        <li>
                            <h4 class="title">Shrimp Biryani</h4><div class="description">
                                <p>Flavorful combination of Basmati Rice and Shrimp, steamed together with Aromatic Spices and Herbs</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Biryani</h4><div class="description">
                                <p>Flavored combination of meat and basmati rice steamed together in aromatic herbs and spices</p>
                            </div><div class="price">$ 20.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lamb or Goat Biryani</h4><div class="description">
                                <p>Flavored combination of meat and basmati rice steamed together in aromatic herbs and spices</p>
                            </div><div class="price">$ 21.00</div>
                        </li>
                        <li>
                            <h4 class="title">Vegetable Biryani</h4><div class="description">
                                <p>Flavorful combination of Vegetables and Basmati Rice steamed together with Aromatic Spices and Herbs</p>
                            </div><div class="price">$ 15.00</div>
                        </li>
                        <li>
                            <h4 class="title">Parsi Prawn Pulao</h4><div class="description">
                                <p>Mildly Spiced Aromatic Basmati Rice and Shrimp Bake</p>
                            </div><div class="price">$ 23.00</div>
                        </li>
                        <li>
                            <h4 class="title">Tomato Rice</h4><div class="description">
                                <p>Tomato flavored Basmati Rice</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lemon Rice</h4><div class="description">
                                <p>Lemon flavored Basmati Rice tempered with Curry Leaves and Mustard Seeds</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Peas Pulao</h4><div class="description">
                                <p>Basmati Rice, Cumin Tempered topped with Green Peas</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                    </ul><h3><a id="block-Breads" href="#block-Breads">Breads</a></h3><ul>
                        <li>
                            <h4 class="title">Peshwari Naan</h4><div class="description">
                                <p>Sweet bread stuffed with nuts and raisins</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Naan</h4><div class="description">
                                <p>Light, Soft Flat White Bread</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                        <li>
                            <h4 class="title">Garlic Naan</h4><div class="description">
                                <p>Garlic and cilantro</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Cheese &#8216;N&#8217; Tomato Naan</h4><div class="description">
                                <p>Cheddar cheese and tomato</p>
                            </div><div class="price">$ 5.00</div>
                        </li>
                        <li>
                            <h4 class="title">Keema Naan</h4><div class="description">
                                <p>Naan stuffed with a Mixture of Spiced Ground Lamb</p>
                            </div><div class="price">$ 7.00</div>
                        </li>
                        <li>
                            <h4 class="title">Chicken Tikka Naan</h4><div class="description">
                                <p>Naan stuffed with Fine Diced Chicken Tikka</p>
                            </div><div class="price">$ 7.00</div>
                        </li>
                        <li>
                            <h4 class="title">Onion Kulcha</h4><div class="description">
                                <p>Soft Flat Bread stuffed with Fine Chopped Onions</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Roti</h4><div class="description">
                                <p>Whole Wheat Flat Bread</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                        <li>
                            <h4 class="title">Lacha Paratha</h4><div class="description">
                                <p>Multi-layered Whole Wheat Bread, Butter Glaze</p>
                            </div><div class="price">$ 5.00</div>
                        </li>
                        <li>
                            <h4 class="title">Onion Pudina Paratha</h4><div class="description">
                                <p>Multi-layered Whole Wheat Bread, topped with Fine Chopped Mint Leaves &amp; Onion in a Butter Glaze</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Aloo Paratha</h4><div class="description">
                                <p>Whole Wheat Bread, stuffed with Seasonal Mashed Potatoes</p>
                            </div><div class="price">$ 6.00</div>
                        </li>
                        <li>
                            <h4 class="title">Poori</h4><div class="description">
                                <p>Puffed Whole Wheat Bread</p>
                            </div><div class="price">$ 4.00</div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- //CONTENT -->
        <br class="clear" />
    </div>
    <!-- //PRIMARY -->
    <!-- SECONDARY-->
    
    <!-- // SECONDARY-->


</div>
